{% load static %}
{% load i18n %}

<header>
    <nav class="navbar navbar-expand-lg bg-foot-green navbar-dark shadow-sm">
        <div class="container-fluid px-md-5 px-3">

            <!-- LOGO -->
            <a class="navbar-brand" href="{% url 'landing' %}">
                <img src="{% static 'img/logo.png' %}" alt="FootManager Logo" style="height: 70px;">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <!-- IZQUIERDA -->
                <ul class="navbar-nav me-auto align-items-center">
                    <li class="nav-item">
                        <button id="themeToggle" class="nav-link">
                            🌙
                        </button>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">

                            {% get_current_language as current_language %}
                            {% if current_language == 'es' %}
                                <img src="{% static 'img/es.png' %}" width="20" class="me-2">
                                ES
                            {% else %}
                                <img src="{% static 'img/en.png' %}" width="20" class="me-2">
                                EN
                            {% endif %}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <form method="POST" action="{% url 'set_language' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="language" value="es">
                                    <input type="hidden" name="next" value="{{ clean_path }}">
                                    <button class="dropdown-item d-flex align-items-center" type="submit" style="border:none; background:none; padding: 0.5rem 1rem; width:100%; text-align:left;">
                                        <img src="{% static 'img/es.png' %}" width="20" class="me-2">
                                        {% trans "Spanish" %}
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form method="POST" action="{% url 'set_language' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="language" value="en">
                                    <input type="hidden" name="next" value="{{ clean_path }}">
                                    <button class="dropdown-item d-flex align-items-center" type="submit" style="border:none; background:none; padding: 0.5rem 1rem; width:100%; text-align:left;">
                                        <img src="{% static 'img/en.png' %}" width="20" class="me-2">
                                        {% trans "English" %}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- DERECHA -->
                <ul class="navbar-nav ms-auto align-items-center">

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing' %}"><i class="bi bi-house-fill"></i> {% trans "Inicio" %}</a>
                    </li>

                    {# ===== ENTRENADOR ===== #}
                    {% if user.rol == "entrenador" %}
                        {% if user.perfil_entrenador.get_equipos_activos %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'equipos:informacion_equipo' slug=user.perfil_entrenador.get_equipos_activos.0.equipo.slug %}">
                                <i class="bi bi-shield-fill"></i> {% trans "Equipo" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="bi bi-pie-chart-fill"></i> {% trans "Análisis" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="bi bi-clipboard2-fill"></i> {% trans "Pizarra" %}</a>
                        </li>
                        {% endif %}

                    {# ===== JUGADOR ===== #}
                    {% elif user.rol == "jugador" %}
                        {% if user.perfil_jugador.get_equipos_activos %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'equipos:informacion_equipo' slug=user.perfil_jugador.get_equipos_activos.0.equipo.slug %}">
                                <i class="bi bi-shield-fill"></i> {% trans "Equipo" %}
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}

                    {# ===== PERFIL ===== #}
                    <li class="nav-item dropdown ms-3">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                            data-bs-toggle="dropdown">
                            {{ user.first_name }}
                        </a>
                        
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" href="{% url 'usuarios:miperfil' %}">
                                    <i class="bi bi-person-lines-fill me-2"></i> {% trans "Mi perfil" %}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" href="{% url 'usuarios:logout' %}">
                                    <i class="bi bi-box-arrow-in-left me-2"></i> {% trans "Cerrar sesión" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        {% if user.foto %}
                            <a href="{% url 'usuarios:miperfil' %}">
                                <img src="{{ user.foto.url }}" class="rounded-circle ms-2" width="40" height="40"
                                style="object-fit: cover;">
                            </a>
                        {% else %}
                            <a href="{% url 'usuarios:miperfil' %}">
                                <img src="{% static 'img/default_avatar.jpg' %}" class="rounded-circle ms-2" width="40"
                                    height="40" style="object-fit: cover;">
                            </a>
                        {% endif %}
                    </li>

                    {% else %}

                    {# ===== NO AUTENTICADO ===== #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuarios:login' %}"> {% trans "Iniciar sesión" %} <i
                                class="bi bi-box-arrow-in-right"></i></a>
                    </li>
                    <li class="nav-item ms-lg-3">
                        <a class="btn btn-foot-register-header px-3 py-2" href="{% url 'usuarios:signin' %}">
                            {% trans "Registrarse" %}
                        </a>
                    </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
</header>