SECRET_KEY="django-insecure-key-test-local"

DATABASE_NAME="database_name_test"
DATABASE_USER="user_test"
DATABASE_PASSWORD="password_test"
DATABASE_HOST="DB" # Dont change this, it is the name of the service in docker-compose.yml

DJANGO_SUPERUSER_EMAIL="admin@example.com"
DJANGO_SUPERUSER_PASSWORD="admin"

PGADMIN_DEFAULT_EMAIL="admin@example.com"
PGADMIN_DEFAULT_PASSWORD="admin"

DEBUG=True

ALLOWED_HOSTS="127.0.0.1,localhost"