SECRET_KEY="django-insecure-key-test-local"

DATABASE_NAME="database_name_test"
DATABASE_USER="user_test"
DATABASE_PASSWORD="password_test"
DATABASE_HOST="localhost"

DEBUG=True

ALLOWED_HOSTS="127.0.0.1,localhost"