{% extends 'includes/base.html' %}
{% load i18n %}
{% block title %}FutDataManager - {% trans "Error 400" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <div class="text-center">
            <h1 class="display-1">400</h1>
            <h2>{% trans "Solicitud incorrecta" %}</h2>
            <p class="lead">{% trans "La solicitud enviada al servidor no es válida." %}</p>
            <hr>
            <a href="/" class="btn btn-primary btn-lg">{% trans "Volver al inicio" %}</a>
        </div>
    </div>
</div>
{% endblock %}
