{% extends "includes/base.html" %}
{% load static %}
{% load i18n %}
{% block title %}FutDataManager - {% trans "Inicio" %}{% endblock %}
{% block content %}
<div class="container my-5">

  <!-- Sección Título -->
  <section class="text-center col-lg-8 mx-auto mb-5 py-5">
    <h1 class="display-4 fw-bold text-foot-darkgray mb-3">¡{% trans "Bienvenid@" %} {{ user.first_name }}!</h1>
    <p class="fs-5 text-secondary">
      {% trans "Actualmente no perteneces a ningún equipo." %}
    </p>
    <p class="fs-5 text-secondary">{% trans "Para poder pertenecer a un equipo registrado necesitas que un entrenador te añada a su equipo." %}</p>
  </section>

  <!-- Contenido -->
  <section class="row justify-content-center">
    <div class="col-lg-8">
      <div class="d-flex flex-column gap-5">

        <!-- Historial -->
        <div>
          <h2 class="h4 text-foot-green mb-2">{% trans "Equipos donde ha jugado" %}</h2>
          {% if equipos_historico %}
            <table id="tablaEquiposHistorico" class="table text-center table-bordered shadow-sm">
              <thead>
                <tr>
                  <th class="bg-success text-white text-center">{% trans "Escudo" %}</th>
                  <th class="bg-success text-white text-center">{% trans "Nombre" %}</th>
                  <th class="bg-success text-white text-center">{% trans "Año de fundación" %}</th>
                  <th class="bg-success text-white text-center">{% trans "Inicio" %}</th>
                  <th class="bg-success text-white text-center">{% trans "Fin" %}</th>
                  <th class="bg-success"></th>
                </tr>
              </thead>
              <tbody>
                {% for equipo_jugador in equipos_historico %}
                <tr>
                  {% if equipo_jugador.equipo.escudo %}
                  <td><img src="{{ equipo_jugador.equipo.escudo.url }}" class="me-2" width="40" height="40"></td>
                  {% else %}
                  <td><img src="{% static 'img/default_shield.png' %}" class="me-2" width="40" height="40"></td>
                  {% endif %}
                  <td>{{ equipo_jugador.equipo.nombre }}</td>
                  <td>{{ equipo_jugador.equipo.anio_fundacion }}</td>
                  <td>{{ equipo_jugador.fecha_incorporacion|date:"d/m/Y" }}</td>
                  <td>
                    {% if equipo_jugador.fecha_salida %}
                      {{ equipo_jugador.fecha_salida|date:"d/m/Y" }}
                    {% else %}
                      <span class="badge bg-primary">Activo</span>
                    {% endif %}
                  </td>
                  <td><a class="nav-link text-decoration-none text-secondary"
                      href="{% url 'equipos:informacion_equipo' equipo_jugador.equipo.slug %}"><i class="bi bi-eye-fill"></i>
                      {% trans "Ver equipo" %}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p class="fs-5 text-secondary text-muted">{% trans "No has jugado en ningún equipo aún." %}</p>
          {% endif %}
        </div>

        <!-- Estadísticas -->
        <div>
          <h2 class="h4 text-foot-green mb-2">{% trans "Estadísticas generales" %}</h2>
          <p class="fs-5 text-secondary mb-0">{% trans "Listado de estadísticas del jugador" %}</p>
        </div>

        <!-- Equipos registrados -->
        <div>
          <h2 class="h4 text-foot-green mb-2">{% trans "Equipos registrados" %}</h2>
          <div class="d-flex justify-content-end mb-3">
            <div class="input-group w-50">
              <span class="input-group-text bg-light">
                <i class="bi bi-search"></i>
              </span>
              <input type="text" id="buscadorEquipos" class="form-control" placeholder="{% trans 'Buscar equipo' %}">
            </div>
          </div>
          <table id="tablaEquipos" class="table text-center table-bordered shadow-sm">
            <thead>
              <tr>
                <th class="bg-success text-white text-center">{% trans "Escudo" %}</th>
                <th id="ordenarNombreEquipo" class="bg-success text-white text-center">{% trans "Nombre" %}</th>
                <th id="ordenarAnioFundacion" class="bg-success text-white text-center">{% trans "Año de fundación" %}</th>
                <th class="bg-success"></th>
              </tr>
            </thead>

            <tbody>
              {% for equipo in equipos %}
              <tr>
                {% if equipo.escudo %}
                <td><img src="{{ equipo.escudo.url }}" class="me-2" width="40" height="40"></td>
                {% else %}
                <td><img src="{% static 'img/default_shield.png' %}" class="me-2" width="40" height="40"></td>
                {% endif %}
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.anio_fundacion }}</td>
                <td><a class="nav-link text-decoration-none text-secondary"
                    href="{% url 'equipos:informacion_equipo' equipo.slug %}"><i class="bi bi-eye-fill"></i>
                    {% trans "Ver equipo" %}</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/listadoEquipos.js' %}"></script>
{% endblock %}